<div class='totals flex items-center pr2'>
  <label>
    Incoming
    <input
      value={{studio.income}}
      oninput={{action 'setNumeric' 'income'}}
    >
  </label>
  <label>
    Expenses
    <input
      value={{studio.expenses}}
      oninput={{action 'setNumeric' 'expenses'}}
    >
  </label>
  <label>
    Salaries
    {{input value=studio.laborCost disabled=true}}
  </label>
</div>
