{{nav-bar}}

<div class='metrics-bar-trigger' {{action (route-action 'toggleMetricsDrawerOpenState')}}>
  {{#if metricsDrawerOpen}}
    Close
  {{else}}
    Metrics Editor
  {{/if}}
</div>

{{metrics-drawer
  studio=studio
  setNumeric=(route-action 'setNumeric')
  open=metricsDrawerOpen
}}

<div class='max-width-4 mx-auto pt4'>
  {{info-brick}}

  <!-- Mode Chooser -->
  <div class='clearfix mt4 mb4 px2'>
    <h2>Choose a Calculator Mode</h2>
    <hr />
    <p class='line-height'>
      Learning how the agreement works? Choose "Mock Mode". Actually calculating real world profit shares? Use "Real World".
    </p>

    <div class='brick col col-12 sm-col-6 py1 center {{if (eq studio.Modes.MOCK studio.mode) "active"}}'>
      <div class='inner p2 border-medium-gray' {{action (route-action 'setMode' studio.Modes.MOCK)}}>
        <h3 class='serif lighter'>Mock Mode</h3>
        <p>Play with the calculator to understand how it works!</p>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center {{if (eq studio.Modes.REAL studio.mode) "active"}}'>
      <div class='inner p2 border-medium-gray' {{action (route-action 'setMode' studio.Modes.REAL)}}>
        <h3 class='serif lighter'>Real World Mode</h3>
        <p>Actually calculate profit share at the end of the year</p>
      </div>
    </div>
  </div>

  {{#if (eq studio.mode studio.Modes.REAL)}}
    <div class='clearfix mb3 px2'>
      <h2>Historical Scenarios</h2>
      <hr />
      <p class='line-height'>
        Run a Historical Scenario to see how profit share panned out that year.
      </p>
      {{#each studio.historicalScenarios as |scenario|}}
        <div class='brick col col-12 sm-col-6 py1 center {{if (eq scenario studio.selectedHistoricalScenario) "active"}}'>
          <div class='inner p2 border-medium-gray' {{action (route-action 'applyHistoricalScenario' scenario)}}>
            <h3 class='serif lighter'>{{scenario.title}}</h3>
            <p>{{scenario.description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if (eq studio.mode studio.Modes.MOCK)}}
    <!-- Scenario Runs -->
    <div class='clearfix mb3 px2'>
      <h2>Scenarios</h2>
      <hr />
      <p class='line-height'>
        Run a sample scenario below to see how the profit share pans out. These only effect the studio's income.
      </p>
      {{#each studio.scenarios as |scenario|}}
        <div class='brick col col-12 sm-col-6 py1 center {{if (eq scenario studio.selectedScenario) "active"}}'>
          <div class='inner p2 border-medium-gray' {{action (route-action 'applyScenario' scenario)}}>
            <h3 class='serif lighter'>{{scenario.title}}</h3>
            <p>{{scenario.description}}</p>
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Team Table -->
    <div class='clearfix mb3 px2'>
      <h2>Sanctuary Team</h2>
      <hr />
      <p class='line-height'>
        The below is an example team of technologists to run the calculations against.
      </p>
      <div class='col col-12 sm-show'>
        <div class='inner clearfix'>
          <h5 class='dark-navy'>(Btw, you can edit the team on a larger screen)</h5>
        </div>
      </div>
      {{#each studio.technologists as |technologist|}}
        <div class='technologist col col-12'>
          <div class='inner py1 clearfix flex'>
            <div class='col col-2 flex items-center'>
              {{#if (eq editing technologist)}}
                {{input value=technologist.name class='inline py1'}}
              {{else}}
                <h3>{{technologist.name}}</h3>
              {{/if}}
            </div>
            <div class='months col col-4 center flex items-center'>
              {{#if (eq editing technologist)}}
                <input
                  value={{technologist.monthsAtSanctu}}
                  type='number'
                  class='inline py1 mx-auto'
                  oninput={{action (route-action 'editTeamMemberNumeric' technologist 'monthsAtSanctu')}}
                >
              {{else}}
                <h3>{{technologist.monthsAtSanctu}} Months / PSU</h3>
              {{/if}}
            </div>
            <div class='salary col col-3 sm-col-4 center flex items-center'>
              {{#if (eq editing technologist)}}
                <input
                  value={{technologist.salary}}
                  type='number'
                  class='inline py1 mx-auto'
                  oninput={{action (route-action 'editTeamMemberNumeric' technologist 'salary')}}
                >
              {{else}}
                <h3>{{format-money technologist.salary}}</h3>
              {{/if}}
            </div>
            <div class='profit col col-3 sm-col-4 flex items-center'>
              <h3 class='dark-navy'>{{format-money technologist.profitShare}}</h3>
            </div>

            <div class='col col-1 caps center xs-hide'>
              {{#if (eq editing technologist)}}
                <h6 {{action (route-action 'stopEditingTeamMember')}}>OK</h6>
              {{else}}
                <h6 {{action (route-action 'editTeamMember' technologist)}}>Edit</h6>
              {{/if}}
            </div>
            <div class='col col-1 caps right-align xs-hide'>
              <h6 {{action (route-action 'removeTeamMember' technologist)}}>Remove</h6>
            </div>
          </div>
        </div>
      {{else}}
        <div class='col col-12 center py1'>
          <p class='line-height bold'>
            There's no team members here. <span class='dark-navy pointer' {{action (route-action 'randomizeTeam')}}>Randomize a team!</span>
          </p>
        </div>
      {{/each}}
      <div class='col col-12 center py1 xs-hide' {{action (route-action 'addTeamMember')}}>
        <div class='border-medium-gray inner py1 px3 clearfix center'>
          <h3 class='white'>+ Add Team Member</h3>
        </div>
      </div>
    </div>
  {{/if}}


  <!-- Metrics -->
  <div class='clearfix mb3 px2'>
    <h2>Calculated Metrics</h2>
    <hr />
    <p class='line-height'>
      The below metrics are key in calculating how profit is divided.
    </p>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Raw Efficiency</h3>
        <p>A simple metric based on income vs expenses</p>
        <h4>{{studio.rawEfficiency}}</h4>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Normalized Efficiency</h3>
        <p>This metric is normalized to be more insightful</p>
        <h4>{{studio.efficiency}}</h4>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Payroll Buffer</h3>
        <p>Needed to safely make payroll for {{studio.desiredPayrollBufferMonths}} months</p>
        <h4>{{format-money studio.allowances.buffer}}</h4>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Internals Budget</h3>
        <p>An allowance for upgrading the studio, etc</p>
        <h4>{{format-money studio.allowances.upgradeBudget}}</h4>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Total PSU Issued</h3>
        <p>The total PSU issed across the team</p>
        <h4>{{studio.totalPSUIssued}}</h4>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Value per PSU</h3>
        <p>How much profit each PSU is worth this year</p>
        <h4>{{format-money studio.actualValuePerPSU}}</h4>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Total Profit Share Pool</h3>
        <p>The money put aside for for profit sharing</p>
        <h4>{{format-money studio.allowances.pool}}</h4>
      </div>
    </div>

    <div class='brick col col-12 sm-col-6 py1 center'>
      <div class='border-medium-gray inner p2'>
        <h3 class='serif lighter'>Reinvestment Fund</h3>
        <p>Money remaining to do big things</p>
        <h4>{{format-money studio.allowances.investment}}</h4>
      </div>
    </div>

  </div>
  <div class='clearfix px2'>
    <div class='col col-12'>
      <img class='fit full' src='https://media.giphy.com/media/rBgYkVznFnkek/giphy.gif' />
    </div>
  </div>
</div>

{{ember-notify}}
